<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>WorldNewsFlash</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="main2.css" />
		<noscript><link rel="stylesheet" href="noscript.css" /></noscript>
		<link rel="icon" href="heartThunder.png">
	</head>
	<body class="landing is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<br><br><br><br><br>
							<h2>World.News.Flas#</h2>
							<p> Tinder for News. <br />
							Stimulate your Brain. <br />
							Find your perfect Match!</p>
							<ul class="actions special">
								<li><a href="/signup" class="button primary">SignUP!</a></li>
								<li><a href="/login" class="button primary">LogIN!</a></li>
								<li><a href="/generic" class="button primary"> More Info</a></li>
							</ul>
							<img src="globe.gif" alt="">

						</div>
					</section>


				<!-- CTA -->
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2> Kenneth Cruz</h2>
								<p> A KSC DEVELOPMENT PRODUCTION. </p>
							</header>
							<ul class="actions stacked">
								<li><a href="/signup" class="button fit primary">Activate</a></li>
								<li><a href="kennethscruz.com" class="button fit">portfolio</a></li>
							</ul>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">

						<ul class="copyright">
							<li>&copy; WorldNewsFlas# 2020 </li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>


	</body>
</html>
